.MyButtonTopContainer{
    padding: 10px;
}


.MyButtonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.MyButtonTopText{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
