.add_reviews_wrapper {

}

.add_reviews_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_reviews_photo_button {

}

.add_reviews_input {

}

.add_reviews_textarea {
    resize: none;
    width: 400px;
    height: 150px;
}

.add_reviews_submit_button {

}

.add_reviews_submit_button_wrap {
    margin: 10px 0px;
}