@import './global-style.scss';

%smal_button_primary_color_server {
    border: 1px solid transparent;
    background: $primary_color_server;
    border-radius: 7px;
    color: white;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: all;
    font-weight: 600;

    &:hover{
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
        color: $primary_color_server;
        border: 1px solid $primary_color_server;
    }
}

%smal_button_danger_color_server {
    border: 1px solid transparent;
    background: $danger_color_server;
    border-radius: 7px;
    color: white;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: all;
    font-weight: 600;

    &:hover{
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
        color: $danger_color_server;
        border: 1px solid $danger_color_server;
    }
}

%big_button_primary_color_server  {
    border: 1px solid transparent;
    background: $primary_color_server;
    border-radius: 7px;
    color: white;
    padding: 8px 45px;
    margin-right: 10px;
    cursor: pointer;
    transition: all;
    font-weight: 600;

    &:hover{
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
        color: $primary_color_server;
        border: 1px solid $primary_color_server;
    }
}

%big_button_danger_color_server  {
    border: 1px solid transparent;
    background: $danger_color_server;
    border-radius: 7px;
    color: white;
    padding: 8px 45px;
    margin-right: 10px;
    cursor: pointer;
    transition: all;
    font-weight: 600;

    &:hover{
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
        color: $danger_color_server;
        border: 1px solid $danger_color_server;
    }
}

%big_button_sucsesed_color_server  {
    border: 1px solid transparent;
    background: $sucsesed_color_server;
    border-radius: 7px;
    color: white;
    padding: 8px 45px;
    margin-right: 10px;
    cursor: pointer;
    transition: all;
    font-weight: 600;

    &:hover{
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
        color: $sucsesed_color_server;
        border: 1px solid $sucsesed_color_server;
    }
}
%loader_wrap {
    text-align: center;
    span {
        width: 48px;
        height: 48px;
        border: 5px dotted #000000;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 2s linear infinite;
    }
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  %title_template_server {
    padding: 10px 0px 0px 10px;
    font-size: 22px;
    font-weight: 600;
  }